header.header
    .header__column
        a(href=routes.index)
            i.fab.fa-youtube
    .header__column
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by keywords...", name="keywords")
    .header__column
        ul
            if !user
                li
                    a(href=routes.signup) Signup
                li
                    a(href=routes.login) Login
            else
                li
                    a(href=(routes.videos + routes.upload)) Upload
                li
                    a(href=routes.account) Account
                li
                    a(href=routes.logout) Logout