extends ../layout

block content
    .video-detail
        .video-detail__player
            video#youtsplayer.video-js.vjs-big-play-centered(controls, preload="auto", data-setup="{}")
                source(src=video.src)
                p.vjs-no-js
                    |To view this video please enable JavaScript, and consider upgrading to a web browser that
                    a(href="https://videojs.com/html5-video-support/", target="_blank")
                        |supports HTML5 video
        .video-detail__info
            if user && video.creator.id === user.id
                a(href=(routes.videos + routes.editVideo(video.id)))
                    button Edit video
            h5.video-detail__title=video.title
            p.video-detail__description !{video.description.replace(/\n/g, "<br/>")}
            if video.views === 1
                span.video-detail__views 1 view
            else
                span.video-detail__views #{video.views} views
            .video-detail__author
                |Uploaded by    
                a(href=(routes.users + routes.userDetail(video.creator.id)))=video.creator.username
        #disqus_thread.video-detail__comments
    script(src="https://vjs.zencdn.net/7.6.0/video.js")
    script.
        var disqus_config = function() {
            const videoId = window.location.href.split("videos/")[1];
            this.page.url = `https://youtubets.winrobrine.kr/videos/${videoId}`;
            this.page.identifier = videoId;
        };